<div class="fundo">
    <form action="/add" method="post">
        <p>Titulo:</p>
        <input type="text" name="titulo" id="titulo">
        <textarea name="conteudo" id="conteudo" cols="20" rows="10"></textarea>
        <button type="submit" > cadastrar postagens</button>
    </form>
</div>

<style>
    .fundo{
        text-align: center;
    }
    form{ 
        background-color:lightblue; 
        width:500px;
        display: block;
        margin: auto;
    }
    input{
        display: block;
        margin: 10px auto;
    }
    button{
        display: block;
        margin: auto;
    }
</style>