<form action="/add" method="post" style="display: block; margin:10px; background-color:lightblue; width:200px;">
    <p>Titulo:</p>
    <input type="text" name="titulo" id="titulo" style="display: block; margin-bottom:10px;">
    <textarea name="conteudo" id="conteudo" cols="10" rows="5"></textarea>
    <button type="submit" style="display: block;"> cadastrar postagens</button>
</form>
